body {
    font-family: 'Alatsi', sans-serif;
}

.jumbotron.jumbotron-fluid {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    background: white;
    color: black;
}

h1 {
    background: lightgray;
}

.lead {
    background: lightgray;
}

#currentSchedule {
    float: left;
}

.trainTimes {
    font-weight: bolder;
    color: black;
}

.tableContainer {
    background: white;
    color: black;
    font-weight: bold;
    padding: .9%;
    margin-bottom: 0;
}

.table {
    color: black;
}

.tableHeader p {
    margin-bottom: 0;
}

label {
    float: left;
    font-weight: bold;
}

.inputContainer {
    width: 90%;
    margin-left: 5%;
    border: solid 2px black;
}

.inputHeader {
    color: black;
    font-weight: bold;
    padding: 5px;
    background: lightgrey;
    margin-bottom: 0;
}

.inputHeader p {
    margin-bottom: 0;
}

.submit {
    background: grey;
    color: white;
    margin: 3px;
}

.submit:hover {
    opacity: 0.5;
}